# HTU21D humidity and temperature sensor configuration options

# Copyright (c) 2024 CATIE
# SPDX-License-Identifier: Apache-2.0

config HTU21D
    bool "HTU21D humidity and temperature sensor"
    default y
    depends on DT_HAS_TE_CONNECTIVITY_HTU21D_ENABLED
    select I2C
    select CRC
    help
      Enable driver for TE Connectivity HTU21D humidity and temperature sensor.
